streamlit
opencv-python
opencv-contrib-python
numpy
pandas
pillow
paddleocr
paddlepaddle
easyocr
pytesseract
pypdf
python-docx
reportlab
scikit-image
imutils
language-tool-python
pymorphy3
tqdm
pymupdf
lxml